.rig {
    max-width: 700px;
    flex-wrap: wrap !important;

    .section {
        flex: 0 0 100%;
        max-width: 100%;

        @media screen and (min-width: 1024px) {
            &:nth-child(1) {
                flex: 0 0 30%;
                max-width: 30%;
            }

            &:nth-child(2) {
                flex: 0 0 70%;
                max-width: 70%;
            }
        }
    }
}